.mainSection{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 550px;
  @media only screen and (max-width: 992px){
    height: 600px;
  }
  @media only screen and (max-width: 600px){
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    min-height: 350px;
    max-height: 812px;
  }
}