html{
  font-size: 17.5px;
  @media only screen and (max-width: 1200px){
    font-size: 16px;
  }
  @media only screen and (max-width: 992px){
    font-size: 15px;
  }
  @media only screen and (max-width: 600px){
    font-size: 14px;
  }
  @media only screen and (max-width: 340px){
    font-size: 12.5px;
  }
}
body {
  margin: 0;
  font-family: 'Roboto-regular', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;
  line-height: 1.6;
  min-width: 320px;
  &::-webkit-scrollbar {
    width:0px;
  }
}

h1, h2, h3, h4, h5, h6{
  font-family: 'WebnarBold'; 
}
button{
  border: none;
  outline: none;
}

.container{
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
  @media only screen and (min-width: 993px){
    width: 70%;
  }
  @media only screen and (min-width: 601px){
    width: 85%;
  }
}

section{
  @media only screen and (min-width: 992px){
    max-height: 1150px;
  }
}

.formHeader{
  margin-bottom: 50px;
  text-align: center;
  @media only screen and (max-width: 601px){
    margin-bottom: 25px;
    line-height: 2rem;
  }
}

.serviceDetail{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 600px;
  .header{
    &Bottom{
      @media only screen and (max-width: 600px){
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 10;
      }
      a{
        @media only screen and (max-width: 600px){
          background-color: white;
          padding: 10px;
          border-radius: 50%;
        }
      }
    }
  }
  @media only screen and (max-width: 992px){
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
    min-height: auto;
    overflow: hidden;
  }
}
