section.serviceDetail{
  @media only screen and (min-width: 992px){
    max-height: 100vh;
  }
}
.detailContainer{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 80px 40px 10px 100px;
  width: 100%;
  height: calc(100vh - 90px);
  min-height: 645px;
  @media only screen and (min-height: 1300px){
    margin: 10vh 20px 20vh 20px;
    height: 70vh;
  }
  @media only screen and (max-width: 996px){
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    min-height: auto;
    margin: 70px 20px;
    width: calc(100% - 40px);
  }
  .detailTitle{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 25%;
    height: 100%;
    @media only screen and (max-width: 996px){
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }
    h2{
      font-size: 2.5rem;
      line-height: 2.5rem;
      max-width: 250px;
      margin-bottom: 50px;
      @media only screen and (max-width: 1200px){
        margin-bottom: 20px;
        margin-top: 70px;
      }
    }
    .detailImage1{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 65%;
      overflow: hidden;
      @media only screen and (max-width: 1200px){
        height: 60%;
      }
      @media only screen and (max-width: 996px){
        margin-top: 50px;
        width: 60vw;
        height: 250px;
      }
      img{
        position: absolute;
        height: 100%;
      }
    }
  }
  .description{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 25%;
    height: 65%;
    @media only screen and (max-width: 1200px){
      width: 30%;
    }
    @media only screen and (max-width: 996px){
      top: -50px;
      width: 100%;
    }
    h4{
      font-size: 1.25rem;
      line-height: 1.5rem;
      margin-left: 40px;
      margin-top: 0px;
      @media only screen and (max-width: 1200px){
        margin-left: 20px;
      }
      @media only screen and (max-width: 996px){
        margin-left: 0px;
      }
    }
    p{
      font-size: 1rem;
      line-height: 1.5rem;
      max-width: 300px;
      margin-left: 40px;
      margin-top: 0px;
      @media only screen and (max-width: 1200px){
        margin-left: 20px;
      }
      @media only screen and (max-width: 996px){
        margin-left: 0px;
      }
    }
    .callbackButton{
      background-color: #6600ff;
      color: white;
      text-transform: lowercase;
      letter-spacing: 1px;
      padding: 12px 30px;
      border-radius: 20px;
      margin-left: 40px;
      font-size: 1rem;
      cursor: pointer;
      z-index: 20;
      @media only screen and (max-width: 1200px){
        margin-left: 20px;
        font-size: 0.8rem;
      }
      @media only screen and (max-width: 996px){
        margin-left: 0px;
      }
    }
  }
  .rightImage{
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    @media only screen and (max-width: 1200px){
      width: 45%;
    }
    @media only screen and (max-width: 996px){
      top: -50px;
      width: 100%;
      height: 400px;
    }
    div{
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        height: 110%;
      }
    }
    .detailImage2{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50%;
      height: 45%;
      @media only screen and (max-width: 996px){
        width: 50%;
        height: 45%;
      }
    }
    .detailImage3{
      position: absolute;
      top: 100px;
      right: 0;
      width: 75%;
      height: 50%;
      @media only screen and (max-width: 996px){
        top: -50px;
        width: 70%;
        height: 70%;
      }
    }
    .detailImage4{
      position: absolute;
      bottom: 100px;
      right: 45px;
      width: 50%;
      height: 40%;
      @media only screen and (max-width: 996px){
        width: 50%;
        height: 50%;
        bottom: 30px;
        right: 35px;
      }
    }
  }
}

.detailMobContainer{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  width: calc(100% - 10px);
  .detailTitle{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 5px;
    padding: 10px 30px 50px 30px;
    width: calc(100% - 60px);
    border-radius: 10px;
    color: white;
    background-color: #6600ff;
    background-image: url(../../assets/texture/wave.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    h4{
      margin: 0;
    }
    .callbackButton{
      position: absolute;
      bottom: 10px;
      right: 30px;
      display: flex;
      align-items: center;
      text-transform: lowercase;
      font-size: 1rem;
      img{
        height: 15px;
        margin-left: 10px;
      }
    }
  }
  .rightImage{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 5px;
    row-gap: 5px;
    width: 100%;
    .detailImage{
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      height: 300px;
      overflow: hidden;
      background-color: #6600ff;
      background-image: url(../../assets/texture/wave.svg);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      img{
        height: 105%;
      }
    }
  }
}

.photoContainer{
  position: fixed;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  width: calc(100% - 10px);
  height: calc(100vh - 10px);
  background: white;
  border-radius: 10px;
  z-index: 10;
  overflow-x: scroll;
  overflow-y: hidden;
  img{
    width: 100%;
  }
}